.App{
  text-align: center!important;
  font-size: 20px;
  font-style:oblique;

}
.logo{
  width: 100%;
    height: 30vh;
    margin-top: 3vh;
}
#circle{
  height: 15vh;
}
.homeicon{
  height: 10vh;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 10vw;
}
#userimage{
  margin-top: 12px;
  margin-left: 10px;
  width: 19vw;
  height: 7vh;
}
body {
  overflow: hidden;
}
